// Copyright © Qualcomm Technologies, Inc. and/or its subsidiaries.
//
// SPDX-License-Identifier: BSD-3-Clause

module object_lists

subscribe object_create_partition
subscribe object_cleanup_partition(partition)

#for obj in $object_list
#if "no_object_list" in obj.config
#continue
#end if
#set o = str(obj)

subscribe object_create_${o}
subscribe object_cleanup_${o}(${o})
#end for

subscribe boot_cold_init()
