# Ignore every file not explicitly included below
*
!*/

# Build system configuration
!*.conf
!*.inc
!SCons*
!Makefile

# Repository and editor configuration
!.gitignore
!.clang-format
!.editorconfig
!.coveragerc

# Source code
!*.c
!*.cpp
!*.h
!*.S
!*.lds

# Tooling and scripts
!*.py
!*.sh

# DSL sources
!*.lark
!*.ev
!*.tc
!*.hvc
!*.reg
!*.tmpl

# CI configuration
!*.yml

# Documentation
!AUTHORS
!LICENSE
!*.txt
!*.md
!*.png
!*.vim

# Static analyser configuration
!*.psrc
!*.properties
!*.kb
